<% content_for :title, "Editing movie" %>

<div class="centered default-border">
  <h1 class="large-red-text">Editing movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div class="large-links">
    <%= link_to "Show this movie", @movie %> |
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>
