<% content_for :title, "New movie" %>

<div class="centered default-border">
  <h1 class="cursive" style="font-size: 50px">New movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div class="large-links">
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>
