/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .ascending{
    background-color: burlywood;
 }

 .descending{
    background-color: cadetblue;
 }

 .default-border{
    border: 2px solid blueviolet;
 }

 .cursive{
    font-family: cursive;
    font-size: large;
    color: darkgreen;
 }

 .large-red-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: red;
 }

 .centered{
    display: flex;
    flex-direction: column;
    align-items: center;   /* center children horizontally */
    text-align: center;
 }

 .big-top-padding{
    padding-top: 50px;
 }

 .large-links{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
 }